{% extends base_template %}
{% block title %}Shabaa- Activity Map{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAEWXmqe3D2Uq-oAFztIO2aRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQkHf2TBO3bJjBYLpqvwyGfsi1Chw
"></script>
<script type="text/javascript" src="/static/shabaa/javascripts/markclusterer.js"></script>

 <script type="text/javascript">
	  var map;
	  var markerz = new Array( );
	  var ent_markerz = new Array( );
	  var latlng;
	
	{%for a in activities%}
		markerz.push(
			{
			latlng: new GLatLng( {{a.location.latitude}}, {{a.location.longitude}} ),
			name: '{{a.reporter}}'
			}
		);
	  {%endfor%}  

	  {%for ent in enterprises%}
		ent_markerz.push(
			{
			latlng: new GLatLng( {{ent.location.latitude}}, {{ent.location.longitude}} ),
			name: '{{ent.reporter}}'
			}
		);
	  {%endfor%}  
	  var markerClusterer = null;
	  var markers = [];
	  var ent_markers=[]
      // Call this function when the page has been loaded
   function initialize() {
        map = new google.maps.Map2(document.getElementById("map"));
        map.setCenter(new google.maps.LatLng(-1.274359,36.813106), 6);
		var mapControl = new GMapTypeControl();
		map.addControl(mapControl);
		map.addControl(new GLargeMapControl());
		map.enableScrollWheelZoom()

		var icon = new GIcon(G_DEFAULT_ICON);
        icon.image = "http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=FFFFFF,008CFF,000000&ext=.png";

        // initialize map etc here and other yada yada
			for ( var i in markerz )
			{
				/*var marker = new GMarker(markerz[i].latlng, {icon: icon});
				*/
				markers.push(create_gmarker(markerz[i],icon));
				//markers.push(marker);
			}
			for ( var i in ent_markerz )
			{
				/*var marker = new GMarker(markerz[i].latlng, {icon: icon});
				*/
				ent_markers.push(create_gmarker(ent_markerz[i],icon));
				//markers.push(marker);
			}

			markerClusterer = new MarkerClusterer(map, ent_markers);
			markerClusterer = new MarkerClusterer(map, markers);


  }

	   function create_gmarker( marker,icon )
		{
			var gmarker = new GMarker( marker.latlng,icon );
			GEvent.addListener( gmarker, 'click', function( ) {
						gmarker.openInfoWindowHtml( marker.name );
				}
			);
			return gmarker;
		}
$(window).load( function () { initialize(); } );
$(window).unload( function () { GUnload(); } );



 </script>
{% endblock %}

{% block content %}

<br/>

<h3>Shabaa Activity Map</h3>
<br/>
<div id="map" style="width: 78em;height: 40em;border: 0;"></div>
<div id="map-entries" style="display: none;">
	{% for a in activities %}
	<div id="act-{{ a.location.id }}" class="map-info">
		<h2>{{ a.location }} ({{ a.location.code }})</h2>
		<table width="100%">
			<caption>
				Reported by: <strong>{{ a.reporter }}</strong>
			</caption>
			<tbody>
				<tr>
					<th>Male</th>
					<td>{{ a.male_attendees }}</td>
				</tr>
				
			</tbody>
		</table>
		
	</div>
	{% endfor %}


</div>

<br/>


{% endblock %}

