{% extends base_template %}
{% block title %}Shabaa- Activity Map{% endblock %}
{% block javascripts %}
<script src="http://www.openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAEWXmqe3D2Uq-oAFztIO2aRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQkHf2TBO3bJjBYLpqvwyGfsi1Chw
'></script>
<script type="text/javascript">
var map;
		
 jQuery(function() {
			var options = {
			units: "dd"
			, numZoomLevels: 16
			, controls:[]
			};

            map = new OpenLayers.Map('map',options);
			var map_layer = new OpenLayers.Layer.Google("google");
			map.addLayer(map_layer);
			
			map.addControl(new OpenLayers.Control.Navigation());
			map.addControl(new OpenLayers.Control.PanZoomBar());
			map.addControl(new OpenLayers.Control.Attribution());
			map.addControl(new OpenLayers.Control.MousePosition());
			map.setCenter(new OpenLayers.LonLat(36.82248,-1.283), 7);

});

</script>
{% endblock %}

{% block page_tabs %}
<div id="sub-tabs">
					<ul>
						<li class="here"><a  href="map">Map</a></li>
						<li class="here"><a  href="map">Reports</a></li>
						</ul>
					</div>
					<br/>
					<br/>
					<br/>

{% endblock %}
{% block content %}

<br/>

<h3>Shabaa Activity Map</h3>
<br/>
<div id="map" style="width: 78em;height: 40em;border: 0;"></div>


<br/>


{% endblock %}

